.sidebar{
    flex: 1;
    top: 50px;
    height: calc(100vh -50px);
    background-color: #fff;
    position: sticky;
}

.sidebar_wrapper{
    padding: 20px;
    color: #555;
}

.sidebar_menu{
    margin-bottom: 10px;
}

.sidebar_title{
    font-size: 13px;
    color: #333;
}

.sidebar_list{
    list-style: none;
    padding: 5px;
}

.linkTo{

}

.sidebar_listItems{
    display: flex;
    pad: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar_listItems.active, .sidebar_listItems:hover{
    background-color: #fff;
}

.sidebarIcon{
    font-size: 20px;
    margin-right: 5px;
}


